body {
	background-color: #2C2B30;
	font-family: Arial, Helvetica, sans-serif;
}
h1 {
	color: rgb(255, 255, 255);
	text-align: center;
	font-style: bold
}
h2 
{
	color:rgb(255, 255, 255);
	text-align:center;
	font-style: bold
}
h2 heading
{
	color:#D6D6D6;
	text-align:center;

}
p{
	font-size: 15px;
	text-align:center;
	font-family: 'IBM plex sans', sans-serif;
	color:#D6D6D6;
}
h3{
	text-align:center;
	color:#D6D6D6;
	font-size: 20px;
}

/* Styling for images on home page */
.current-positions{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*margin-left: 20%;
    margin-right: 20%;
    margin-top: 3%;*/
    font-family: 'Caveat', sans-serif;
	width:10px;
	height:10px;

}