body {
	background-color: #2C2B30;
	font-family: Arial, Helvetica, sans-serif;
}
h1 {
	color: rgb(255, 255, 255);
	text-align: center;
	font-style: bold
}
h2 
{
	color:rgb(255, 255, 255);
	text-align:center;
	font-style: bold
}
h2 heading
{
	color:#D6D6D6;
	text-align:center;

}
p{
	font-size: 15px;
	text-align:center;
	font-family: 'IBM plex sans', sans-serif;
	color:#D6D6D6;
}
h3{
	text-align:center;
	color:#D6D6D6;
	font-size: 20px;
}

/* Styling for images on home page */


.image-container{
	width:100%;
	text-align: center;
}

.current-positions{
	display:block; /*makes the image behave as a block object*/
	margin:0 auto; /*Center the image */
	max-width:40%;
	height:auto;
/* I did use chat gpt for the display blokc and margin 0 but only after I tried everything I knew to center the image
becuase whenever I tried it just was center to the left side of the website. I hope this was okay.*/
}